* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

.clearix:before,
.clearfix:after {
  content:" ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  .collection {
    padding: 3em 0 0 3em;
    text-align: left;
    h1 {
      color: #003b73;
      font-size: 3.3em;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 0;
    }
    .disclaimer {
      display: flex;
      align-items: center;
      color: #003b73;;
      h2 {
        color: #003b73;
        font-size: 2em;
        letter-spacing: .024em;
        font-weight: 300;
        margin-bottom: 0;
        font-weight: 300;
        clear: none;
        display: inline;
      }
      i {
        margin: 0 .5rem 0 .5rem;
        font-size: .5em;
      }
      .coming {
        font-style: italic;
        margin-left: .6rem;
      }
    }
  }
  .social {
    padding: 1.6em 2em 0 0;
    text-align: right;
    font-size: 2em;
    .margin-right {
      margin-right: 1rem;
    }
    a {
      color: #003b73;
    }
  }
  .wrapper-logo {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.6em 2em 1.6em 0;
  }
}

@media (max-width: 600px) {
  .banner {
    .collection {
      padding: 1em;
      h1 {
        font-size: 2.5em;
        text-align: center;
      }
      .disclaimer {
        justify-content: center;
        h2 {
          font-size: 1.5em;
        }
      }
    }
    .social {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 1.6em 0 1.3em 2em;
      a {
        color: #ffec30;
      }
    }
    .wrapper-logo {
      padding: 1.6em 2em 0 0;
      img {
      }
    }
  }
}
